/android/SenseBridge/*.iml
/android/SenseBridge/.gradle
/android/SenseBridge/local.properties
/android/SenseBridge/.idea/caches
/android/SenseBridge/.idea/libraries
/android/SenseBridge/.idea/modules.xml
/android/SenseBridge/.idea/workspace.xml
/android/SenseBridge/.idea/navEditor.xml
/android/SenseBridge/.idea/assetWizardSettings.xml
/android/SenseBridge/.DS_Store
/android/SenseBridge/build
/android/SenseBridge/captures
/android/SenseBridge/.externalNativeBuild
/android/SenseBridge/.cxx
